@font-face {
    font-family: 'local-monts';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}

*:not(.code-snippet *) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Kumb Sans', sans-serif; */
    font-family: 'local-monts', sans-serif;
    font-weight: 500;
}


html {
    --lh: 1.4rem;
    line-height: var(--lh);
}

.navbar {
    background: black;
    color: green;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* position: sticky; */
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar__logo {
    all: unset;
    font-size: 4em;
    cursor: pointer;
}

.main {
    background-color: black;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: black;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
}

.main__posts {
    /* height: 90vh; */
    width: 100%;
    max-width: 1400px;
    /* background-color: orange; */
    /* display: grid; */
    /* align-items: center; */
    justify-self: center;
    margin: 0 auto;
    padding: 20px;
}

.post {
    width: 100%;
    /* height: 10vh; */
    height: 20vh;
    background-color: white;
    z-index: 4;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
}

.post__text {
    /* margin: 20px;
    max-height: 20vh; */
    /* height: 20vh; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    --max-lines: 7;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}


.post__img__container {

    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    perspective: 1000px;
}

.post__img {
    position: relative;
    max-height: 150px;
    max-width: 300px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.post__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 25%, transparent 50%, rgba(0, 0, 0, 0.2) 75%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.post__img:hover {
    transform: translateY(-20px) rotateX(30deg);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    animation: rotation 4s infinite alternate;
}

.post__img:hover::before {
    opacity: 1;
    animation: lighting 4s infinite alternate;
}

@keyframes rotation {
    0% {
      transform: translateY(-10px) rotateX(20deg) rotateY(0deg);
    }
    50% {
      transform: translateY(-10px) rotateX(20deg) rotateY(15deg);
    }
    100% {
      transform: translateY(-10px) rotateX(20deg) rotateY(-15deg);
    }
}

@keyframes lighting {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}


#post__title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main__img--container{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    
}

.main__content {
    color: white;
}

.main__content h1{
    padding-bottom: 30px;
    
}

.posts__selector{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    color: white;
}

@media screen and (max-width: 768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post{
        width: 80%;
        height: 250px;
        height: 50vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        margin-bottom: 1rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        /* width: 100%; */
        /* height: 10vh; */
        /* max-height: 20vh; */
        /* max-height: none;
        background-color: white;
        z-index: 4;
        margin-bottom: 20px;
        display: flex;
         */
    }
    
    .post__img__container{
        height: 75%;
        background-color: rgb(48, 48, 48);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .post__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    
    .post__text {
        margin: 0;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .post__title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
    }

    .post__date {
        font-size: .8rem;
    }
} 

.page__main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page__content{
    padding-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__title__container{
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    width: 1400px;
}
.page__text__container{
    width: 1400px;
    margin-top: 20px;
    background-color: rgb(233, 233, 233);
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 15px;
    margin-bottom: 40px;
}
@media(max-width: 1400px){
    .page__title__container{
        width: 100%;
        padding-left: 20px;
    }
    .page__text__container{
        width: 100%;
    }
}

.page__title{
    font-size: 2.2rem;
    font-weight: 600;
}

.page__subtitle{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.page__sub-subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.page__body{
    margin-bottom: 40px;
    line-height: 1.45;
}


.controls__container{
    display: flex;
    flex-direction: column;
}

.controls__slider{
    display: flex;
    gap: 10px;
}

#gui {
    position: absolute;
    top: 155px; 
    left: 1400px;
    left: 70%;
}
